@font-face {
  font-family: 'Koliko Regular';
  src: url('fonts/koliko-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Road Rage';
  src: url('fonts/Road_Rage.otf') format('opentype');
}

@font-face {
  font-family: 'Cherish Regular';
  src: url('fonts/Cherish-Regular.ttf') format('truetype');
}



:root {
  --main-text: #ffcc66;
  --shadow-color: rgba(0, 123, 255, 0.5); 

}

a {
  color: inherit; 
  text-decoration: none; 
  cursor: pointer; 
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--main-text) #2e2c3c; 
}

body {
    display: grid;
    overflow-x: hidden; 
 
}

.flex {
  display: flex;
}

.rage {
  font-family: 'Road Rage';
  text-shadow: 0 0 0.2rem #ffcc66, 0 0 0.5rem #ff9933;
  box-sizing: border-box;
  background: transparent;
  color: var(--main-text);
    margin-left: 10px;
}

/* components */
.grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'seven'
    'eight'
    'nine'
    'ten';
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
  position: relative; 
  z-index: 1; 
}

.grid-item {
  border-radius: 0.5rem;
}


@media screen and (min-width: 33em) {
  .grid {
    grid-template-areas:
      "one one"
      "two three"
      "four four"
      "five five";
  }
}

@media screen and (min-width: 38em) {
  .grid {
    grid-template-areas:
      "one one"
      "two three"
      "four five";
  }
}

@media screen and (min-width: 54em) {
  .grid {
    grid-template-areas:
      "one one one"
      "two two three"
      "six six six"
      "four seven five"
      "eight eight eight"
      "nine nine ten";
   
  }
}

@media screen and (min-width: 75em) {
  .grid {
    grid-template-areas:
      "one one one"
      "two two three three"
      "six six six six"
      "four four five five"
      "eight eight eight eight"
       "nine nine ten ten";
     
  }
}
