@font-face {
  font-family: "Kayak";
  src: url("fonts/Kayak\ Sans\ Regular.otf") format("opentype");
}

@font-face {
  font-family: "Ragna";
  src: url("fonts/f24q220-ragna-ragna-regular-400.ttf") format("truetype");
}

:root {
  --main-white: #fffff4;
  --main-black: #0e1111;
  --main-dark-gray: #b7b7b7;
}

html,
body {
  margin-left: 0;
  font-family: "Kayak", sans-serif;
  color: var(--main-white);
  user-select: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--main-white) var(--main-black);
}

#particle-system-container {
  position: fixed;
  top: 0;
  z-index: -1;
}

.credits-button-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.credits-button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
  color: var(--main-dark-gray);
  font-size: 0.6rem;
}

.credits-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 16px);
  background: var(--main-white);
  color: var(--main-black);
  padding: 25px 0 25px 25px;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
  font-size: 0.8rem;
}

.credits-button-container:hover .credits-container {
  transform: translateY(0);
}
