.AboutMe {
  text-align: left;
  color: var(--font-color);
  text-transform: uppercase;
  font-family: 'Neue Montreal Bold';
  border-radius: 4px;
  visibility: hidden;
  font-size: clamp(0.1rem, 1vw + 0.2rem, 2rem);
  padding: clamp(1rem, 1.5vw + 0.5rem, 3rem);
}
