.AboutMe {
  text-align: left;
  letter-spacing: 1px;
  color: var(--main-yellow);
  font-family: "Neue Montreal Bold", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.7;
  visibility: hidden;
}

@media (max-width: 444px) {
  .AboutMe {
    font-size: 1rem;
    margin: 1rem 3rem;
  }
}

@media (max-width: 790px) {
  .AboutMe {
    font-size: 0.8rem;
    margin: 2rem 3rem;
  }
}

@media (min-width: 1024px) {
  .AboutMe {
    font-size: 2rem;
    margin: 2rem 6rem;
  }
}

@media (min-width: 1440px) {
  .AboutMe {
    font-size: 3rem;
  }
}
