.AboutMe {
  text-align: left;
  color: var(--primary-color);
  text-transform: uppercase;
  border-radius: 4px;
  visibility: hidden;
  font-size: clamp(0.2rem, 1vw + 0.2rem, 2rem);
  padding: clamp(1rem, 1.5vw + 0.5rem, 3rem);
  margin-bottom: 1rem;
}

.AboutMeTitle {
  display: flex;
  align-items: center;
  font-size: clamp(0.6rem, 1vw + 0.6rem, 1.5rem); 
  color: var(--primary-color);
  margin-bottom: 1rem;
}
