.App-header {
  margin-left: 2em;
  gap: 2em;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(236, 231, 231, 0.5) 100%
  );
}

nav {
  display: flex;
  align-items: center;
}

.navlink {
  transition: transform 0.3s ease, font-size 0.3s ease;
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.navlink:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

button svg {
  fill: white;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
  }
}
