.Contact {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    text-align: center;

  }
  
  
  .contact-details {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 2em; 
  }
  
  
  