.contact {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-end; 
    font-family: 'Koliko Regular';
    grid-area: ten;
    color: #ffcc66;
    margin-bottom: 5em;
    font-size: 1.5em;
    box-sizing: border-box;
    text-transform: uppercase;
    background: transparent;
    box-shadow: 
    0 0 40px 10px var(--shadow-color); 
        text-shadow: 
        0 0 0.2rem #FFCC66, 
        0 0 0.5rem #FF9933, 
        0 0 0.5rem #FF6600; 
        padding-right: 20px; 


}

