.credits-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 33%;
    height: 100%;
    background-color: #232b2b;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  
  }
  
  .credits-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .credits-sidebar button {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
  
  .credits-sidebar button:hover {
    background-color: white;
    color: black;
  }
  
  .credits-sidebar .credits-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .credits-sidebar .credits-content ul li {
    margin-bottom: 10px;
  }
  
  