#ending {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    grid-area: eight;
    color: var(--main-text);
    font-family: 'Koliko Regular', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    box-sizing: border-box;
    background: transparent;
    box-shadow: 
    0 0 40px 10px var(--shadow-color); 
   
}
