

.experience-section {
  text-align: center;
  user-select: none;
  margin: 4rem;
  opacity: 0.8;

}

.experience-section h1, .experience-section h2 {
  letter-spacing: 4px;
  text-transform: uppercase;
}


.experience-section ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.experience-section li {
  border: 2px solid var(--main-white);
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}

.experience-section li:hover{
  background-color: var(--main-white);
  color: var(--main-black);
}

@media (max-width: 1024px) {
  .experience-section ul {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.1em;
  }
}

@media (max-width: 768px) {
  .experience-section ul {
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.8rem;
    padding: 5px 5px;
  }
}


@media (max-width: 768px) {
  .experience-section h1 .experience-section h2 {
    font-size: 0.6em;
  }
}

@media (min-width: 1024px) {
  .experience-section h1 .experience-section h2 {
    font-size: 1rem;
  }
}

@media (min-width: 1444px) {
  .experience-section h1 .experience-section h2 {
    font-size: 2.5rem;
  }
}
