.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Neue Montreal Bold";
  padding: 2rem;
  font-weight: 900;
  opacity: 0.8;
  backdrop-filter: blur(10px); 
}

.footer a {
  text-decoration: none;
  position: relative;
  color: var(--main-yellow);
  font-weight: lighter;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .Footer {
    font-size: 0.6rem;
  }
}

.footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color:  var(--main-yellow);
  transition: width 0.3s;
  color: #bac4b8;
}

.footer a:hover::after {
  width: 100%;
}
