.frontendcolumn {
    grid-area: four;
    font-size: 2em;
    background-color: transparent;
    font-family: 'Koliko Regular';
    color: var(--main-text);
    text-transform: uppercase;
    box-shadow: 
    0 0 40px 10px var(--shadow-color);
}

.frontendcolumn .skills-column ul {
    list-style-type: none; 
    padding-left: 0; 
}

.frontendcolumn .skills-column ul li {
    border: 3px solid var(--main-text);
    padding: 10px; 
    margin: 5px; 
    
}

.frontendcolumn .skills-column ul li:hover {
    background-color: none;
    color: #FFCC66;
}
