.Hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #e0c8a4;
  font-family: 'Neue Montreal Bold'; 
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 4rem;
  animation: blurAnimation 4s forwards;
}

@keyframes blurAnimation {
  0% { filter: blur(5px); }
  100% { filter: blur(0px); }
}

.Hero h2 {
  letter-spacing: 12px;
  font-size: 1rem;
  margin: 0;
}

.Hero h1 {
  letter-spacing: 10px;
  font-size: 7rem;
  font-family: 'BTSuave';  
  margin: 0;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.scroll-down {
  position: absolute;
  bottom: -1rem;
  text-align: center;
  font-size: 1rem;
  color: var(--main-gray);
  opacity: 0;
  letter-spacing: normal;
  word-spacing: normal;
  animation: flash 2.5s infinite;
}

@media (max-width: 600px) {
  .Hero {
    gap: 0.5rem;
    word-spacing: 0.3rem;
    padding: 0.5rem;
    margin: 2rem 4rem;
    letter-spacing: 5px;
  }

  .Hero h2 {
    font-size: 0.5rem;
  }

  .Hero h1 {
    font-size: 1.2rem; 
    letter-spacing: 2px;
  }

  .scroll-down {
    font-size: 0.6rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .Hero {
    padding: 2rem;
    margin: 2rem 6rem;
    font-size: 0.9rem;
    gap: 0.8rem;
    word-spacing: 1.5rem;
  }

  .Hero h2 {
    letter-spacing: 10px;
    font-size: 0.9rem;
  }

  .Hero h1 {
    font-size: 3rem;
  }

  .scroll-down {
    font-size: 0.9rem;
  }
}

@media (min-width: 1025px) {
  .Hero {
    padding: 12rem;
    margin: 2rem 6rem;
    font-size: 1rem;
    gap: 1rem;
    word-spacing: 2rem;
  }

  .Hero h2 {
    letter-spacing: 12px; 
    font-size: 0.8rem;
  }

  .Hero h1 {
    font-size: 3rem; 
  }

  .scroll-down {
    font-size: 1rem; 
  }
}

@media (min-width: 1440px) {
  .Hero {
    padding: 15rem;
    margin: 2rem 6rem;
    font-size: 1rem;
    gap: 1rem;
    word-spacing: 2rem;
  }

  .Hero h2 {
    letter-spacing: 12px; 
    font-size: 1.5rem;
  }

  .Hero h1 {
    font-size: 4rem; 
  }

  .scroll-down {
    font-size: 1rem; 
  }
}
