.Hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  position: relative;
  text-align: center;
  margin: 2rem 4rem;
  animation: blurAnimation 4s forwards;
  padding: clamp(1rem, 5vw, 12rem);
  gap: clamp(0.5rem, 2vw, 2rem);
  word-spacing: clamp(0.5rem, 0.5vw, 2.5rem);
}


.Hero h2 {
  letter-spacing: clamp(2px, 0.5vw, 12px);
  font-size: clamp(0.35rem, 1.6vw, 1rem);
  margin: 0; 
}


.Hero h1 {
  letter-spacing: clamp(2px, 1vw, 5px);
  font-family: "Indelible";
  transform: rotate(-10deg);
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px var(--hero-shadow),
    2px 2px 4px var(--hero-shadow),
    4px 4px 8px  var(--hero-shadow);
  font-size: clamp(0.9rem, 4.5vw, 4.2rem);
  font-weight: 900;
}


@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.scroll-down {
  position: relative;
  bottom: -1rem;
  text-align: center;
  font-size: clamp(0.35rem, 1.3vw, 1rem);
  color: var(--primary-color);
  opacity: 0;
  letter-spacing: normal;
  word-spacing: normal;
  animation: blurAnimation 3s forwards;
  animation: flash 2.5s infinite;
  text-transform: uppercase;
}

