.Hero{
    font-family: 'Migra Extra Bold';
    text-align: center;
    font-size: 5em;
    user-select: none;
}


@media (max-width: 1024px) { 
    .Hero {
      font-size: 2.5em;
    }
  }
  
  @media (max-width: 768px) { 
    .Hero {
      font-size: 1em;
    }
}