.leader {
  font-family: 'Koliko Regular';
  grid-area: two;
  font-size: 1.6em;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--main-text);
  padding: 1em;
  text-transform: uppercase;
  box-shadow: 
  0 0 40px 10px var(--shadow-color);
}
