.letstalk {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    grid-area: nine;
    color: #ffcc66;
    font-family: 'Koliko Regular', sans-serif;
    font-size: 2em;
    box-sizing: border-box;
    background: transparent;
    box-shadow: 
    0 0 40px 10px var(--shadow-color); 
    text-shadow: 
    0 0 0.2rem #FFCC66; 
    
}

.fancy{
    font-family: 'Cherish Regular', sans-serif;
    font-size: 2em;

    text-shadow: 
    0 0 0.2rem #FFCC66, 
    0 0 0.5rem #FF9933, 
    0 0 0.5rem #FF6600, 
    0 0 0.8rem #CC5500; 
}

.letstalk h3 {
    transition: transform 0.3s ease; 
}

.letstalk h3:hover{
    transform: scale(1.1);
}
